{% extends 'base.html.twig' %}

{% block title %}New Soort{% endblock %}

{% block body %}
    <h1>Create new Soort</h1>

    {{ include('soort/_form.html.twig') }}

    <a href="{{ path('soort_index') }}">back to list</a>
{% endblock %}
