{% extends 'base.html.twig' %}

{% block title %}Edit Kamer{% endblock %}

{% block body %}
    <h1>Edit Kamer</h1>

    {{ include('kamer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('kamer_index') }}">back to list</a>

    {{ include('kamer/_delete_form.html.twig') }}
{% endblock %}
