{% extends 'base.html.twig' %}

{% block title %}New Seizoen{% endblock %}

{% block body %}
    <h1>Create new Seizoen</h1>

    {{ include('seizoen/_form.html.twig') }}

    <a href="{{ path('seizoen_index') }}">back to list</a>
{% endblock %}
